table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 99%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  /* table, th, td {
    border:1px solid black;
  } */

  /* tr:nth-child(even) {
    background-color: rgba(226, 24, 24, 0.4);
  }
  
  th:nth-child(even),td:nth-child(even) {
    background-color: rgba(207, 241, 14, 0.4);
  } */












  



  /* Dropdown Button */
.dropbtn {
  background-color: #07c5ff;
  color: #5d1b8d;
  padding: 16px;
  font-size: 16px;
  border: none;
  margin-right: 10px;
}
.dropbtn:hover {
  background-color: #16e7e7;
}

/* The container <div> - needed to position the dropdown content */
/* .dropdown {
  position: relative;
  display: inline-block;
} */

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 186px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Show the dropdown menu on hover */
/* .dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content.show {
  display: block;
}
 */


/* 
.dropdown-content {
  position: absolute;
  top: 100%;
  left: 0;
}


.dropdown-content {
  display: none;
}

.dropdown:hover .dropdown-content {
  display: block;
}
 */

 .dropdown-content {
  display: block;
}

/* Optional: Adjust the positioning if needed */
.dropdown-content {
  position: absolute;
  top: 100%;
  left: 0;
}

.table-scroll {
  max-height: 600px; /* Adjust this height based on your requirement */
  overflow-y: auto;
  display: inline-block;
  width: 100%;
}

.table-scroll thead th {
  position: sticky;
  top: 0;
  background-color: #fff; /* Add a background color to the header */
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4); /* Optional: Add a shadow effect */
}



